# macOS filesystem metadata
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS volume metadata
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Files created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
